

@font-face {
  font-family: 'iconfont';  /* project id 930362 */
  src: url('//at.alicdn.com/t/font_930362_c88m0tqy07k.eot');
  src: url('//at.alicdn.com/t/font_930362_c88m0tqy07k.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_930362_c88m0tqy07k.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_930362_c88m0tqy07k.woff') format('woff'),
  url('//at.alicdn.com/t/font_930362_c88m0tqy07k.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_930362_c88m0tqy07k.svg#iconfont') format('svg');
}
.noFind-icon{
	text-align: center;
	font-family: 'iconfont';
	font-size: 160rpx;
	color: #cccccc;
}
.noFind-text{
	font-size: 32rpx;
	text-align: center;
	color: #cccccc;
}
