page{
	height: 100%;
  background: #F2F2F2;
}
.mech-wrap{
	width: 100%;
  /*height: 100%;*/
	display: block;
	/*overflow: auto;*/
	height: auto;
}

.mech-top {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  height: 80rpx;
  background: #f44444;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 34rpx;
  text-align: center;
  z-index: 5;
}
.navigator-hover{
  color: #FFFFFF;
}
.mech-back{
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 20rpx;
  padding-top: 70rpx;
  box-sizing: border-box;
}
.mech-back image{
  width: 42rpx;
  height: 42rpx;
}


/*中间的部分*/
.mech-mid{
  /*padding-top: 128rpx;*/
  box-sizing: border-box;
  /*background: blue;*/
}
.std-inp-box{

  padding-top: 30rpx;
  width: 600rpx;
  height: 50rpx;

  font-size: 24rpx;

  overflow: auto;
  padding-bottom: 20rpx;
}
.std-inp{
  /*float: left;*/
  display: inline-block;
  width: 80%;
  height:50rpx;
  font-size: 24rpx;
  /*background: red;*/
  padding-left: 20rpx;
  border-radius:20rpx 0 0 20rpx;
  overflow: hidden;
  box-sizing: border-box;
}
.std-seacher{
  display: inline-block;
  height: 50rpx;
  width:20%;
  /*float: right;*/
  /*border: none;*/
  color: #FFFFFF;
  box-sizing: border-box;
  background: #4798e8;
  font-size: 28rpx;
  line-height: 50rpx;
  border-radius:0px;
  border-radius:0 20rpx 20rpx 0 ;
}


.std-select{
  /*padding:0 20rpx;*/
  display: block;
  overflow: auto;
}
.std-select-con{
  border-top:1px solid #D4D4D4;
  border-bottom:1px solid #D4D4D4;
  display: block;
  overflow: auto;
}

.main-color{
  color: #4798e8;
}

.work-top-right .main-btn-nobd{
  /*border:1px solid;*/
  color: blue;
  width: 180rpx;
  height: 60rpx;
  font-size: 34rpx;
  background-color:#ffffff;
  border-color: #4798e8;
}
.main-btn-withbd{
  /*border:1px solid;*/
  color: #4798e8;
  width: 180rpx;
  height: 60rpx;
  font-size: 34rpx;
  /*font-weight: 280rpx;*/
}

.p-100 {
  padding-bottom: 100rpx;
}

.empty-100 {
  /*100rpx高度的空标签*/
  height: 100rpx;
}


/*固定头部*/
.setfixed{
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  box-sizing: border-box;


}

.border {
  border: 1px solid #F2F2F2;
}

.border-bottom{
  border-bottom:1px #F2F2F2 solid;
}

.border-top{
  border-top:1px #F2F2F2 solid;
}

.border-right {
  border-right: 1px #F2F2F2 solid;
}

.border-left {
  border-left: 1px #F2F2F2 solid;
}


.icon-50{
  width: 50rpx;
  height: 50rpx;
}

.icon-40{
  width: 40rpx;
  height: 40rpx;
}
.icon-30 {
  width: 30rpx;
  height: 30rpx;
}

.m-10 {
  margin: 10rpx;
}
.m-20 {
  margin: 20rpx;
}
.m-30 {
  margin: 30rpx;
}

.m-b-10{
  margin-bottom: 10rpx;
}

.m-b-20{
  margin-bottom: 20rpx;
}


.m-t-10{
  margin-top: 10rpx;
}

.m-t-20{
  margin-top: 20rpx;
}

.m-l-10{
  margin-left: 10rpx;
}
.m-l-20{
  margin-left: 20rpx;
}

.p-10{
  padding: 10rpx;
}

.p-20{
  padding: 20rpx;
}
.p-40{
  padding: 40rpx;
}

.p-b-10{
  padding-bottom: 10rpx;
}

.font-50{
  font-size: 50rpx;
}
.font-36{
  font-size: 34rpx;
}

.font-32{
  font-size: 32rpx;
}

.font-30{
  font-size: 30rpx;
}

.font-28{
  font-size: 28rpx;
}

.font-26{
  font-size: 26rpx;
}
.font-24{
  font-size: 24rpx;
}

.color-primary{
  color: #4798e8;
}

.color-red{
  color: red;
}

.text-primary {
  color: #4798e8;
}

.text-title{
  color: #333333;
}

.text-content{
  color: #666666;
}

.text-summary{
  color: #999999;
}

.text-success {
  color: #22c6ab; }

.text-info {
  color: #4798e8; }

.text-warning {
  color: #ffbc34; }

.text-danger {
  color: #ef6e6e; }

.text-megna {
  color: #01c0c8; }

.text-red {
  color: #ef6e6e; }

.text-white{
  color: white;
}
.text-king{
  color: #d8aa67;
}

.text-center{
  text-align: center;
}

.bold{
  font-weight: bold;
}

.bottom-group{
  width: 100%;
  position: fixed;
  height: 100rpx;
  background:#f8f8f8;
  display: flex;
  flex-direction: row;
  align-items: center;
  bottom: 0;
  left: 0;
  border-top:1px solid #535353;
  z-index: 0;
}

.bottom-group-item {
  flex: 1;
  width: 100%;
  height: 100rpx;
  font-size: 30rpx;
  text-align: center;
  color: #067df5;
  box-sizing: border-box;
  line-height: 100rpx;
}

.bottom-group .black{
  color: #333333;
}

.bottom-group .border-right{
  border-right:1px solid #e8e8e8;
}

.w-100 {
  width: 100%;
}

.w-50{
  width: 50%;
}

.w-33 {
  width: 33%;
}

.w-25 {
  width: 25%;
}

.empty{
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 80rpx;
  justify-content:center;
  align-items: center;
}

.rounder-circle{
  border-radius: 50%;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-row-center{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-row-center-space-between{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-column-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg-custom {
  background-color: #01c0c8; }
.bg-king{
  background:  #d8aa67; }

.btn-king-click{
  background:  #d8aa67;
}
.btn-king-click:active{
  background: #d8aa3d;
}

.item-click{
  background: white;
}
.item-click:active{
  background: rgba(153, 153, 153, 0.29);
}

.bg-success {
  background-color: #22c6ab; }

.bg-info {
  background-color: #4798e8; }

.bg-warning {
  background-color: #ffbc34; }

.bg-danger {
  background-color: #ef6e6e; }

.bg-megna {
  background-color: #01c0c8; }

.bg-primary {
  background-color: #7460ee; }

.bg-purple {
  background-color: #7460ee; }

.bg-red {
  background-color: #ef6e6e; }

.bg-inverse {
  background-color: #343a40; }

.bg-default {
  background-color: #f8f9fa; }

.bg-white {
  background-color: white; }
