/* client/pages/reserve/reserve.wxss */

.image{
  width: 200rpx;
  height: 140rpx;
}

.body{
  width: 100%;
  height: 100%;
}

.reserve{
  height: 80rpx;
  width: 200rpx;
  background: #d8aa67;
  color: white;
  text-align: center;
  line-height: 80rpx;
}
